#include "./position_map.dtsi"
#include <physical_layouts.dtsi>

/ {
    chocolatebox_physical_layout: chocolatebox_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Chocolatebox";
        transform = <&default_transform>;
        kscan = <&kscan0>;
           keys  //                                w    h     x     y    rot    rx    ry
            /* Row0: RC(0,0..11) → 1 2 3 4 5 6 | 7 8 9 0 - = */
            = <&key_physical_attrs              100  100    75     0      0    300     0>  /* C0  1  小指=水平, 左端+0.75u */
            , <&key_physical_attrs              100  100   175     0      0    300     0>  /* C1  2  小指=水平 */
            , <&key_physical_attrs              100  100   275     0   1000    300     0>  /* C2  3  左手+10° */
            , <&key_physical_attrs              100  100   375     0   1000    300     0>  /* C3  4  */
            , <&key_physical_attrs              100  100   475     0   1000    300     0>  /* C4  5  */
            , <&key_physical_attrs              100  100   575     0   1000    300     0>  /* C5  6  */
            , <&key_physical_attrs              100  100   900     0  (-1000)   900    50>  /* C6  7  右手−10°（中心回転） */
            , <&key_physical_attrs              100  100  1000     0  (-1000)   900    50>  /* C7  8  */
            , <&key_physical_attrs              100  100  1100     0  (-1000)   900    50>  /* C8  9  */
            , <&key_physical_attrs              100  100  1200     0  (-1000)   900    50>  /* C9  0  */
            , <&key_physical_attrs              100  100  1300     0      0   900     0>  /* C10 - 小指=水平 */
            , <&key_physical_attrs              100  100  1400     0      0   900     0>  /* C11 = 右端-0.75u */

            /* Row1: RC(1,1..11) → q w e r t | y u i o p Enter(ISO) */
            , <&key_physical_attrs              150  100   100   110      0    300     0>  /* C1  q 1.5u 小指=水平, 左端+1u */
            , <&key_physical_attrs              100  100   250   110   1000    300     0>  /* C2  w  */
            , <&key_physical_attrs              100  100   350   110   1000    300     0>  /* C3  e  */
            , <&key_physical_attrs              100  100   450   110   1000    300     0>  /* C4  r  */
            , <&key_physical_attrs              100  100   550   110   1000    300     0>  /* C5  t  */
            , <&key_physical_attrs              100  100   925   110  (-1000)   900    160> /* C6  y  */
            , <&key_physical_attrs              100  100  1025   110  (-1000)   900    160> /* C7  u  */
            , <&key_physical_attrs              100  100  1125   110  (-1000)   900    160> /* C8  i  */
            , <&key_physical_attrs              100  100  1225   110  (-1000)   900    160> /* C9  o  */
            , <&key_physical_attrs              100  100  1325   110      0   900    110> /* C10 p 小指=水平 */
            , <&key_physical_attrs              125  200  1450   110      0   900    210> /* C11 Enter ISO 1.25u×2u */

            /* Row2: RC(2,1..10) → a s d f g | h j k l ; */
            , <&key_physical_attrs              175  100    50   220      0    300     0>  /* C1  a 1.75u 小指=水平, 左端+0.5u */
            , <&key_physical_attrs              100  100   225   220   1000    300     0>  /* C2  s  */
            , <&key_physical_attrs              100  100   325   220   1000    300     0>  /* C3  d  */
            , <&key_physical_attrs              100  100   425   220   1000    300     0>  /* C4  f  */
            , <&key_physical_attrs              100  100   525   220   1000    300     0>  /* C5  g  */
            , <&key_physical_attrs              100  100   950   220  (-1000)   900    270> /* C6  h  */
            , <&key_physical_attrs              100  100  1050   220  (-1000)   900    270> /* C7  j  */
            , <&key_physical_attrs              100  100  1150   220  (-1000)   900    270> /* C8  k  */
            , <&key_physical_attrs              100  100  1250   220  (-1000)   900    270> /* C9  l  */
            , <&key_physical_attrs              100  100  1350   220      0   900    220> /* C10 ; 小指=水平 */

            /* Row3: RC(3,0..10) → Shift z x c v b | n m , . RShift */
            , <&key_physical_attrs              125  100     0   330      0    300     0>  /* C0  LShift 1.25u 左端 */
            , <&key_physical_attrs              100  100   125   330      0    300     0>  /* C1  z 小指=水平 */
            , <&key_physical_attrs              100  100   200   330   1000    300     0>  /* C2  x  */
            , <&key_physical_attrs              100  100   300   330   1000    300     0>  /* C3  c  */
            , <&key_physical_attrs              100  100   400   330   1000    300     0>  /* C4  v  */
            , <&key_physical_attrs              100  100   500   330   1000    300     0>  /* C5  b（左手） */
            , <&key_physical_attrs              100  100   975   330  (-1000)    900    380> /* C6  n  */
            , <&key_physical_attrs              100  100  1075   330  (-1000)    900    380> /* C7  m  */
            , <&key_physical_attrs              100  100  1175   330  (-1000)    900    380> /* C8  ,  */
            , <&key_physical_attrs              100  100  1275   330  (-1000)    900    380> /* C9  .  */
            , <&key_physical_attrs              225  100  1375   330      0   900      380> /* C10 RShift 2.25u 右端 */

            /* Row4: RC(4,1,2,4,5,6,7,9,10) → GUI ALT SPACE Fn | Fn BSPC ALT CTRL */
            , <&key_physical_attrs              125  100    75   440      0    300     0>  /* C1  GUI 1.25u 小指=水平, 左端+0.75u */
            , <&key_physical_attrs              125  100   200   440   1000    300     0>  /* C2  LAlt 1.25u */
            , <&key_physical_attrs              225  100   325   440   1000    300     0>  /* C4  Space 2.25u */
            , <&key_physical_attrs              100  100   550   440   1000    300     0>  /* C5  Fn */
            , <&key_physical_attrs              100  100   950   440  (-1000)  900    490> /* C6  Fn */
            , <&key_physical_attrs              225  100  1050   440  (-1000)  900    490> /* C7  Bspc 2.25u */
            , <&key_physical_attrs              125  100  1275   440  (-1000)  900    490> /* C9  RAlt 1.25u */
            , <&key_physical_attrs              125  100  1425   440      0   900    490> /* C10 RCtrl 1.25u 小指=水平(右端-0.75u) */
        ;


    };
};

&layouts_chocolatebox_position_map {
    layout_chocolatebox_map: layout_mable {
        physical-layout = <&chocolatebox_physical_layout>;
        positions
            = < 0  1  2  3  4  5    6  7  8  9 10 11>
            , <   11 12 13 14 15   16 17 18 19 20 21>
            , <   22 23 24 25 26   27 28 29 30 31>
            , <33 34 35 36 37 38   39 40 41 42 43>
            , <   44 45    46 47   48 49    50 51>

            ;
    };
};  