#include "./position_map.dtsi"
#include <physical_layouts.dtsi>

/ {
    chocolatebox_physical_layout: chocolatebox_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Chocolatebox";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                                w    h     x     y    rot    rx    ry
            /* Row0: 1 2 3 4 5 6 | 7 8 9 0 - = */
            = <&key_physical_attrs              100  100    75     0      0    300     0>  /* C0 1 */
            , <&key_physical_attrs              100  100   175     0      0    300     0>  /* C1 2 */
            , <&key_physical_attrs              100  100   313    25   1000    363    25>  /* C2 3  ← L: +0.125u右,+0.25u下 */
            , <&key_physical_attrs              100  100   413    25   1000    363    25>  /* C3 4  */
            , <&key_physical_attrs              100  100   513    25   1000    363    25>  /* C4 5  */
            , <&key_physical_attrs              100  100   613    25   1000    363    25>  /* C5 6  */
            , <&key_physical_attrs              100  100   875    25  (-1000)  1225    25>  /* C6 7  ← R: -0.25u左,+0.25u下 */
            , <&key_physical_attrs              100  100   975    25  (-1000)  1225    25>  /* C7 8  */
            , <&key_physical_attrs              100  100  1075    25  (-1000)  1225    25>  /* C8 9  */
            , <&key_physical_attrs              100  100  1175    25  (-1000)  1225    25>  /* C9 0  */
            , <&key_physical_attrs              100  100  1300     0      0    1300     0>  /* C10 - */
            , <&key_physical_attrs              100  100  1400     0      0    1400     0>  /* C11 = */

            /* Row1: q w e r t | y u i o p Ret(ISO) */
            , <&key_physical_attrs              150  100   100   110      0    300     0>  /* C1 q */
            , <&key_physical_attrs              100  100   288   135   1000    363    25>  /* C2 w  */
            , <&key_physical_attrs              100  100   388   135   1000    363    25>  /* C3 e  */
            , <&key_physical_attrs              100  100   488   135   1000    363    25>  /* C4 r  */
            , <&key_physical_attrs              100  100   588   135   1000    363    25>  /* C5 t  */
            , <&key_physical_attrs              100  100   900   135  (-1000)  1200   135>  /* C6 y  */
            , <&key_physical_attrs              100  100  1000   135  (-1000)  1200   135>  /* C7 u  */
            , <&key_physical_attrs              100  100  1100   135  (-1000)  1200   135>  /* C8 i  */
            , <&key_physical_attrs              100  100  1200   135  (-1000)  1200   135>  /* C9 o  */
            , <&key_physical_attrs              100  100  1325   110      0    1300   110>  /* C10 p */
            , <&key_physical_attrs              125  200  1475   110      0    1500   210>  /* C11 Enter ISO */

            /* Row2: a s d f g | h j k l ; */
            , <&key_physical_attrs              175  100    50   220      0    300     0>  /* C1 a */
            , <&key_physical_attrs              100  100   263   245   1000    363    25>  /* C2 s  */
            , <&key_physical_attrs              100  100   363   245   1000    363    25>  /* C3 d  */
            , <&key_physical_attrs              100  100   463   245   1000    363    25>  /* C4 f  */
            , <&key_physical_attrs              100  100   563   245   1000    363    25>  /* C5 g  */
            , <&key_physical_attrs              100  100   925   245  (-1000)  1200   245>  /* C6 h  */
            , <&key_physical_attrs              100  100  1025   245  (-1000)  1200   245>  /* C7 j  */
            , <&key_physical_attrs              100  100  1125   245  (-1000)  1200   245>  /* C8 k  */
            , <&key_physical_attrs              100  100  1225   245  (-1000)  1200   245>  /* C9 l  */
            , <&key_physical_attrs              100  100  1350   220      0    1500   220>  /* C10 ; */

            /* Row3: Shift z x c v b | n m , . RShift */
            , <&key_physical_attrs              125  100     0   330      0    300     0>  /* C0 LShift */
            , <&key_physical_attrs              100  100   125   330      0    300     0>  /* C1 z */
            , <&key_physical_attrs              100  100   238   355   1000    363    25>  /* C2 x  */
            , <&key_physical_attrs              100  100   338   355   1000    363    25>  /* C3 c  */
            , <&key_physical_attrs              100  100   438   355   1000    363    25>  /* C4 v  */
            , <&key_physical_attrs              100  100   538   355   1000    363    25>  /* C5 b  */
            , <&key_physical_attrs              100  100   950   355  (-1000)  1200   355>  /* C6 n  */
            , <&key_physical_attrs              100  100  1050   355  (-1000)  1200   355>  /* C7 m  */
            , <&key_physical_attrs              100  100  1150   355  (-1000)  1200   355>  /* C8 ,  */
            , <&key_physical_attrs              100  100  1250   355  (-1000)  1200   355>  /* C9 .  */
            , <&key_physical_attrs              225  100  1375   330      0    1400   330>  /* C10 RShift */

            /* Row4: GUI ALT SPACE Fn | Fn BSPC ALT CTRL */
            , <&key_physical_attrs              125  100    75   440      0    300     0>  /* C1 GUI */
            , <&key_physical_attrs              125  100   238   465   1000    363    25>  /* C2 LAlt */
            , <&key_physical_attrs              225  100   363   465   1000    363    25>  /* C4 Space */
            , <&key_physical_attrs              100  100   588   465   1000    363    25>  /* C5 Fn   */
            , <&key_physical_attrs              100  100   925   465  (-1000)  1200   465>  /* C6 Fn   */
            , <&key_physical_attrs              225  100  1025   465  (-1000)  1200   465>  /* C7 BkSp */
            , <&key_physical_attrs              125  100  1250   465  (-1000)  1200   465>  /* C9 AltG */
            , <&key_physical_attrs              125  100  1400   440      0    1425   440>  /* C10 RCtrl */
        ;



    };
};

&layouts_chocolatebox_position_map {
    layout_chocolatebox_map: layout_mable {
        physical-layout = <&chocolatebox_physical_layout>;
        positions
            = < 0  1  2  3  4  5    6  7  8  9 10 11>
            , <   11 12 13 14 15   16 17 18 19 20 21>
            , <   22 23 24 25 26   27 28 29 30 31>
            , <33 34 35 36 37 38   39 40 41 42 43>
            , <   44 45    46 47   48 49    50 51>

            ;
    };
};  